.demo-preview-item,
.am-tab-bar,
.am-tab-bar-content,
.am-tab-bar-tabpane {
  height: 100%;
}

.am-tab-bar-tab-title {
  margin: 0;
}


.order-list {
  .am-list-body:after{
    border-bottom: none;
  }
}

.am-list.no-padding {
  .am-list-footer {
    padding: 0;
  }
}